body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background: #ebebeb url("/images/gradient.jpg") repeat-x left top;
}

div { padding:0; margin:0; }
p { margin: 0 0 8px 0; line-height: 140%; }
h1, h2, h3, h4, h5 { margin: 5px 0; }
a { color: #444; }
a:visited { color: #888; }
a:hover { color: #000; }
li { line-height: 120%; margin-bottom: 8px; }

#page { width: 90%; margin: auto; }
#page:not(.edit) .if_edit { display: none; }

#page-heading {
  border-bottom: 2px solid black;
  padding-bottom: 4px;
  position: relative;
  width: 100%;
}

textarea {
  font-family: "Courier New", Courier, monospace;
  font-size: inherit;
  width: 100%;
  height: 400px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#footer {
  border-top: 2px solid black;
  padding-top: 10px;
  clear: both;
  margin: 10px 0 30px 0;
  text-align:center;
}

#board { height: 400px; background-color: #444; position: relative; }

div.cell {
  position:absolute;
}

div.cell > div {
  position:absolute;
  color: white;
  background-color: #888;;
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
  width: 100%;
}
div.current { height: 100%; }
div.next { height: 0; z-index: 1; }

div.flipping div.cell.active div.next {
  -webkit-transition: height 0.2s ease-in;
  height: 100%;
}

#nav { margin: 2px 0; text-align: center; position: relative; }
#nav a {
  background-image: url('images/icons.jpg');
  display: inline-block;
  border: 1px solid transparent;
  margin: 2px 0;
  text-decoration: none;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

#nav a:hover { border: 1px solid orange; }

#back { background-position: 501px -36px; }
#playPause { background-position: 165px -3px; }
body.playing #playPause { background-position: 132px -3px; }
#forward { background-position: 468px -36px; }

#pageLocation { font-size: 75%; font-weight: bold; }
